@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400,700,700i|ibm-plex-sans:400,700,700i);
@import url(https://cdn.cache.lol/profiles/icons/omg.lol-icons.css);
@import url("https://geo.thei.rs/fonts/berkeley-mono:ligatures,variable.css");

@import "tailwindcss";
@import "./uchu.css"; /* colourscheme */
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "IBM Plex Sans", sans-serif;
	--font-mono: "Berkeley Mono", monospace;
}

mark {
	@apply text-red-7 dark:text-pink-4 bg-[rgba(0,0,0,0)];
}

.link {
	@apply text-red-7 dark:text-pink-4 underline decoration-dashed underline-offset-4;
}

hr {
	@apply bg-pink-4 my-4 h-px w-128 border-0;
}

@layer utilities {
	/* font fix 4 safari */
	.italic {
		font-variation-settings: "slnt" -14;
	}
}
